.banner__wrap {
  /* position: relative; */
}

.banner__inner {
  position: relative;
}

.banner__inner img {
  width: 100%;
}

.banner__inner h2 {
  /* width: 100%; */
  position: absolute;
  color: #b6b6b6;
  font-family: "Poppins";
  font-weight: 100;
  font-size: 367px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
