@font-face {
  font-family: "Netmarble";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/netmarble/NetmarbleLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/netmarble/NetmarbleLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/netmarble/NetmarbleLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/netmarble/NetmarbleLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/netmarble/NetmarbleLight.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Netmarble";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/netmarble/NetmarbleMedium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/netmarble/NetmarbleMedium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/netmarble/NetmarbleMedium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/netmarble/NetmarbleMedium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/netmarble/NetmarbleMedium.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Netmarble";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/netmarble/NetmarbleBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/netmarble/NetmarbleBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/netmarble/NetmarbleBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/netmarble/NetmarbleBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/netmarble/NetmarbleBold.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Abel";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/abel/v18/MwQ5bhbm2POE2V9BPQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
