/* header */
#header {
  position: fixed;
  left: 0;
  top: -100px;
  width: 100%;
  z-index: 10000;
  display: flex;
  font-family: "Abel";
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}
#header h1 em {
  font-size: 0.5em;
  padding-left: 130px;
}

#header nav {
  padding-right: 50px;
}

#header nav li {
  display: inline-block;
}
#header nav li a {
  padding: 10px;
  text-transform: uppercase;
}

nav ul li {
  position: relative;
}

nav ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  background: #000;

  transition: transform 0.5s ease;
}

nav ul li a:hover::before {
  transform: scaleX(1);
  transition: transform 0.5s ease;
}

/* section1 */
#section1 {
  height: 100vh;
  background-color: #e5e4e3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
#section1 .text {
  font-size: 18vw;
  line-height: 0.79;
  font-family: "Poppins";
  text-transform: uppercase;
}
#section1 .text > .txt1 {
  font-weight: 900;
}
#section1 .text > .txt2 {
  font-weight: 100;
}
#section1 .text > div {
  overflow: hidden;
}
#section1 .text > div > span {
  display: inline-block;
  transform: translateY(300px);
}
#section1 .ment {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  font-family: "Cafe24SsurroundAir";
}
#section1 .img {
  opacity: 0;
}
#section1 .img > img {
  position: absolute;
  z-index: 1000;
}
#section1 .img1 {
  width: 10vw;
  left: 10vw;
  top: 6vw;
  transform: rotate(-25deg);
}
#section1 .img2 {
  width: 14vw;
  right: 10vw;
  top: 4vw;
  transform: rotate(25deg);
}
#section1 .img3 {
  width: 15vw;
  left: 10vw;
  bottom: 4vw;
  transform: rotate(25deg);
}
#section1 .img4 {
  width: 15vw;
  right: 10vw;
  bottom: 5vw;
  transform: rotate(55deg);
}

/* section2 */
#section2 {
  font-family: "Poppins";
  position: sticky;
  z-index: -10000;
  top: 0;
}

.banner__inner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__inner h2 {
  position: absolute;
  color: #b6b6b6;
  font-size: 20vw;
  font-weight: 100;
}

.banner__inner .iframe {
  width: 100%;
}

.banner__inner .iframe iframe {
  width: 100%;
  height: 60vh;
}

/* section3 */
#section3 {
  /* height: 100vh; */
  font-family: "Netmarble";
  z-index: 100;
  position: sticky;
  background: #e5e4e3;
  padding-top: 120px;
}

.card__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

.card {
  width: 45vw;
  border: 1px solid #000;
  text-align: center;
  padding: 17px 10px 17px 10px;
  margin-bottom: 53px;
  position: relative;
}

#card__btn ul {
  display: flex;
  overflow: hidden;
  padding-bottom: 13px;
  text-align: center;
  justify-content: space-between;
}
#card__btn ul li {
  border: 1px solid #000;
  width: 176px;
  height: 27px;
  font-weight: 100;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#card__btn li a {
  display: block;

  padding: 15px 20px;
}

#card__btn li.active {
  background: #d9d9d9;
}

.card img {
  width: 45vw;
  height: 540px;
  margin-bottom: 32px;
}

.card__box h2 {
  padding: 10px 15px;
  font-size: 18px;
  font-weight: lighter;
  text-align: left;
  background: #d9d9d9;
  margin-bottom: 10px;
}

.card__box .card_p1 {
  display: flex;
  align-items: center;
  padding: 10px 15px 10px 15px;
  height: 126px;
  font-size: 18px;
  font-weight: lighter;
  text-align: left;
  margin-bottom: 10px;
  background: #d9d9d9;
  line-height: 24.75px;
}

.card__box .card_p2 {
  padding: 10px 15px;
  text-align: center;
  font-weight: lighter;
  background: #d9d9d9;
  font-size: 18px;
}

#tab-cont {
  position: absolute;
  left: 12px;
  top: 55px;
  /* z-index: -10000; */
}

#tab-cont > div {
  position: absolute;
  left: 0;
  top: 20px;
  width: 45vw;
  height: 540px;
}

#tab-cont .tab-img01 {
  width: 45vw;
  height: 385px;
}

#tab-cont .tab-box {
  width: 45vw;
  height: 390px;
  padding-left: 13px;

  overflow-y: scroll;
}

/* section4 */
#section4 {
  font-family: "Poppins";
  position: sticky;
  z-index: -10000;
  top: 0;
}

/* section5 */
#section5 {
  /* height: 100vh; */
  font-family: "Netmarble";
  background: #e5e4e3;
  padding: 120px 0;
}

.imgcard {
  /* width: 100%; */
  /* height: 882px; */
  border: 1px solid #000;
  padding: 20px 20px;
  font-weight: lighter;
  margin-bottom: 125px;
}

.imgcard__mune {
  font-weight: lighter;
}

.imgcard__mune ul {
  display: flex;
}

.imgcard__mune ul li {
  font-size: 14px;
  border: 1px solid #000;
  width: 176px;

  text-align: center;
  padding: 5px 10px;
  margin-right: 5px;
}

.imgcard__mune ul li:hover {
  background-color: #d9d9d9;
}

.imgcard img {
  padding: 20px 0;
}

.imgcard h2 {
  background: #d9d9d9;
  font-weight: lighter;
  padding: 10px 20px;
  font-size: 18px;
  margin-bottom: 10px;
}
.imgcard .imgcard__p1 {
  background: #d9d9d9;
  margin-bottom: 10px;
  padding: 36px 20px;
  font-size: 18px;
  line-height: 24.75px;
}

.imgcard .imgcard__p2 {
  background: #d9d9d9;
  font-size: 18px;
  padding: 10px 20px;
  text-align: center;
}

/* section6 */
#section6 {
  font-family: "Poppins";
  position: sticky;
  z-index: -10000;
  top: 0;
}

/* section7 */
#section7 {
  /* height: 100vh; */
  font-family: "Netmarble";
  font-weight: 100;
  font-size: 18px;
  background: #e5e4e3;
  padding: 120px 20px;
}

.text__inner {
  position: relative;
}

table {
  border-collapse: collapse;
}

table,
thead tr,
tbody tr {
  border-bottom: 1px solid #000;
}

.text__table .text__tr th {
  font-weight: 100;
  tab-size: 18px;
  padding: 10px 10px 50px 10px;
  text-align: left;
  opacity: 50%;
}

.text__table .text__tb tr td {
  text-align: left;
  padding: 36px 10px 36px 10px;
}

/* footer */
.footer__inner {
  /* height: 100vh; */
  font-family: "Poppins";
  text-align: center;
  position: relative;
}

.footer__title {
  font-size: 19vw;
  font-weight: bolder;
  text-align: center;
}

.footer__span {
  font-weight: 100;
  font-size: 15vw;
  line-height: 0.77px;
}

.footer__desc {
  font-family: "Netmarble";
  font-weight: 100;
  font-size: 1.2vw;
  position: absolute;
  left: 50%;
  bottom: -50%;
  transform: translate(-50%, -50%);
}

.footer__icon .i1 {
  width: 15vw;
  position: absolute;
  left: 10%;
  top: -70px;
  z-index: -1;
}

.footer__icon .i2 {
  width: 15vw;
  position: absolute;
  right: 10%;
  top: -70px;
  z-index: -1;
  transform: rotate(9deg);
}

.footer__icon .i3 {
  width: 18vw;
  position: absolute;
  left: 10%;
  bottom: -44%;
  z-index: 1;
  transform: rotate(20deg);
}

.footer__icon .i4 {
  width: 15vw;
  position: absolute;
  right: 10%;
  bottom: -35%;
  z-index: 1;
  transform: rotate(353deg);
}
